            body,
            html {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }

            form {
                display: block;
                margin-top: 0em;
                margin-bottom: 0;
            }

            input[type=range] {
                -webkit-appearance: none;
                size: 10px;
                width: 10%;
            }

            input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                border: 1px solid #000000;
                height: 16px;
                width: 8px;
                border-radius: 3px;
                background: #ffffff;
                cursor: pointer;
                margin-top: -14px;
                box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
            }

            canvas {
                position: absolute;
            }

            #main {
                position: absolute;
            }

            .checkbox label {
                margin-right: 10px
            }

            form {
                margin-bottom: 0
            }

            .btn-play,
            .btn-settings,
            .btn-watch {
                display: block;
                height: 35px
            }

            .btn-play {
                width: 65%;
                float: left
            }

            .btn-settings {
                width: 13%;
                float: right
            }

            .btn-watch {
                display: block;
                float: right
            }

            #nick {
                width: 65%;
                float: left
            }

            #watchBtn {
                width: 33%;
                float: right
            }

            #main:hover {
                border-top: #000FFF;
                border-bottom: #000FFF;
                border-left: #000FFF;
                border-right: #000FFF;
            }

            #main {
                width: 350px;
                background-size: 350px;
                background-color: rgb(51, 51, 51);
                margin: 10px -50% 10px auto;
                padding: 5px 15px;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%)
            }


        